<div class="row skill-row">
	<div class="col-xs-4 col-md-2 icons">
		<img src="http://www.softwareweb.com/static/icon/20120709-164039-Javascript.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="https://cdn0.iconfinder.com/data/icons/HTML5/512/HTML_Logo.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="http://www.myiconfinder.com/uploads/iconsets/8b61de4c84033266e15317a6eb9fda2d-css3.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="http://www.programmingscripts.com/wp-content/uploads/2015/12/jquery-icon1.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="https://techchronos.com/wp-content/uploads/SszarkLabs/stack-icon/cywBkaGwkMeDAuJbSt1k.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="https://raw.githubusercontent.com/reactjs/redux/master/logo/logo-title-dark.png" class="skill-icon" id="redux-icon"/>
	</div>
</div>
<div class="row skill-row">
	<div class="col-xs-4 col-md-2 icons">
		<img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="https://www.unifiedinfotech.net/wp-content/uploads/2014/06/angularjs.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="http://www.appcoda.com/wp-content/uploads/2015/04/react-native.png" class="skill-icon" id="react-native-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" class="skill-icon"/>
	</div>
	<div class="col-xs-4 col-md-2 icons">
		<img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" class="skill-icon"/>
	</div>
</div>

{{yield}}
