/********************* WINDOW SIZER ************************/

html, body {
	height: 100%;
}

.ember-application > .ember-view {
	height: 100%;
}

#app-container {
	height: 100%;
}

#app-body {
	height: 100%;
}

#navbar {
	height: 100%;
}

#main {
	height: 100%;
}
/****************** SIDEBAR NAVIGATION *********************/

.sidenav {
	height: 100%;
	width: 0; 
	/* position: fixed; */
	z-index: 2;
	/* top: 0;
	left: 0; */
	background-color: #696969;
	overflow-x: hidden; /* Disables horizontal scroll */
	padding-top: 60px;
	transition: 0.5s; 
}

.open {
	width: 200px;
}

.pushed {
	margin-left: 200px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #313131;
	display: block;
	transition: 0.3s;
	border-bottom: 1px solid #555;
}

.sidenav a:hover, offcanvas a:focus {
	color: #f1f1f1;
}

#main {
	transition: margin-left .5s;
	padding: 20px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/****************** TOP BANNER STYLING *********************/

#top-banner {
	height: 20%;
	border-bottom: 12px solid #fcde39;
	background-color: #fce7a2;
}

.profile {
	height: 100%;
	width: 200px;
	border-right: 3px ridge #ccccc5;
	border-left: 3px ridge #ccccc5;
}

#profilepic {
	height: 100%;
	width: 100%;
}

#title {
	font-family: Impact, Charcoal, sans-serif;
	text-decoration: underline;
}

/***************** MAIN WINDOW STYLING *********************/

#main {

}

#main .heading {
	text-decoration: underline;
	text-align: center;
}

#main .content {
	text-align: center;
}




