<div class="container-fluid summary">
	<div class="row summary-section">
		<h2 class="heading">Avalon</h2>
	</div>
	<div class="row" style="text-align: center">
		<img src="/assets/images/Avalon.png" class="heading-img"/>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Description</h3>
		<p class="content">Avalon is a virtual reality multiplayer game that allows groups of 5 to 10 players to connect and play the popular board game, The Resistance: Avalon.</p>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Tech Stack</h3>
		{{avalon-techstack class="container-fluid"}}
	</div>
	<div class="row summary-section">
		<h3 class="heading">Technical Details</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Gallery</h3>
	</div>
	<div class="row summary-section" style="text-align: center">
		<h3 class="heading">Deployed</h3>
		<a href="https://avalonvr.herokuapp.com">https://avalonvr.herokuapp.com</a>
	</div>
	<div class="row summary-section" style="text-align: center">
		<h3 class="heading">Github</h3>
		<a href="https://github.com/CapriciousSmash/avalon-game">https://github.com/CapriciousSmash/avalon-game</a>
	</div>
</div>

{{outlet}}
