<div class="row summary-section">
	<h1 class="heading">Portfolio</h1>
</div>
<div class="row summary-section">
	{{#link-to 'portfolio.avalon'}}
		<h3 class="heading">Avalon</h3>
	{{/link-to}}
</div>
<div class="row summary-section">
	{{#link-to 'portfolio.reeltime'}}
		<h3 class="heading">Reel Time</h3>
	{{/link-to}}
</div>
<div class="row summary-section">
	{{#link-to 'portfolio.labit'}}
		<h3 class="heading">Laugh About It</h3>
	{{/link-to}}
</div>
<div class="row summary-section">
	{{#link-to 'portfolio.other'}}
		<h3 class="heading">Other Projects</h3>
	{{/link-to}}
</div>
<div class="row summary-section">
	{{#link-to 'portfolio.inprogress'}}
		<h3 class="heading">In Progress Projects</h3>
	{{/link-to}}
</div>
