<div class="container-fluid summary">
	<div class="row summary-section">
		<h2 class="heading">In-Progress Projects</h2>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Twitch on VR</h3>
		<h4 class="heading">Github</h4>
		<p class="content"><a href="https://github.com/cptran777/twitch-on-vr">https://github.com/cptran777/twitch-on-vr</a></p>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Smite Party</h3>
		<h4 class="heading">Github</h4>
		<p class="content"><a href="https://github.com/cptran777/smite-party">https://github.com/cptran777/smite-party</a></p>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Pocketmon Dex</h3>
		<h4 class="heading">Github</h4>
		<p class="content"><a href="https://github.com/cptran777/pocketmondex">https://github.com/cptran777/pocketmondex</a></p>
	</div>
</div>

{{outlet}}
