<div class="container-fluid summary">
	<div class="row summary-section">
		<h2 class="heading">Laugh About It</h2>
	</div>
	<div class="row" style="text-align: center">
		<img src="/assets/images/Labit.png" class="heading-img"/>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Description</h3>
		<p class="content">Laugh About It</p>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Tech Stack</h3>
		{{labit-techstack}}
	</div>
	<div class="row summary-section">
		<h3 class="heading">Technical Details</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Gallery</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Github</h3>
	</div>
</div>

{{outlet}}
