<div class="container-fluid summary">
	<div class="row summary-section">
		<h2 class="heading">Other Projects</h2>
		<p class="content">Coming soon!</p>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Syrup Tale</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Music VR Experiment</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Recast.ly</h3>
	</div>
</div>

{{outlet}}
