<div class="container-fluid summary">
	<div class="row summary-section">
		<h2 class="heading">Reel Time</h2>
	</div>
	<div class="row" style="text-align: center">
		<img src="/assets/images/ReelTime.png" class="heading-img"/>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Description</h3>
		<p class="content">Reel Time is a P2P video streaming platform where groups can watch videos together. A host sends a link to receiver clients and creates a network between all participants to receive a video stream. The application also allows movie watchers in the group to video chat or communicate through text chat while they share the experience.</p>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Tech Stack</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Technical Details</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Gallery</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Deployed</h3>
	</div>
	<div class="row summary-section">
		<h3 class="heading">Github</h3>
	</div>
</div>

{{outlet}}
