<div id="app-container" class="container-fluid">
	<div id="top-banner" class="row">
		<h1 id="title">Charlie Tran</h1>
		<h3 id="subtitle">Software Engineer</h3>
	</div>
	<div id="app-body" class="row">
		<div id="navbar" class="sidenav col-sm-3 {{if isOpen 'open'}}" {{action "toggleBar" on="mouseEnter"}} {{action "toggleBar" on="mouseLeave"}}>
			{{#link-to 'portfolio' class='nav-button'}}Portfolio{{/link-to}}
			{{#link-to 'interests' class='nav-button'}}Interests{{/link-to}}
		</div>

		<div id="main" class="col-sm-9">
			<h1>Testing body and stuffs</h1>
			{{outlet}}
		</div>
	</div>
</div>